

.headerCommande{
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 10px 0;
  background-color: $whiteColor;

  &-date{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5%;
    input {
      background-color: $whiteColor;
      padding: 10px;
      font-size: 1rem;
      border-radius: 5px;
      border: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    input:focus {
      outline: none;
    }
  }

  &-statut{
    text-align: center;
    margin: 5px 5%;

    select{
      background-color: $whiteColor;
      padding: 10px;
      font-size: 1rem;
      border-radius: 5px;
      border: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      appearance: none;
    }
    select:focus {
      outline: none;
    }

  }
}


.commande{
  //margin-bottom: 30px;
  max-width: 1200px;
  margin: 20px auto;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  &-liste{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 5px 0;
    &-item{
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;
    }
    &-item.detail {
      grid-area: 3 / 1 / 4 / 3;
      text-align: center;
      a{
        text-decoration: none;
        .fa-eye{
          display: block;
          margin: 0;
        }
      }
      a:link{

      }
    }

  }
  &-liste.head{
    background-color: $whiteColor;
    font-weight: bold;
    max-height: 120px;
    border-bottom: 2px solid $secondColor;

    &-item p{
      margin: 0;
    }
  }

}
.emptyCommande{
  text-align: center;
  padding: 10px 0;
  background-color: $whiteColor;
}
.commande-liste:nth-child(2n){
  background: $firstLightColor;
}
.commande-liste:nth-child(2n+1){
  background: $whiteColor;
}

.commande-liste-item a > .fa-solid {
  font-size: 18px;
  text-align: center;
  color: $secondColor;
  padding-right: 20px;
}

/*
  Commande details
 */


.infos{
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  &-toggle{
    width: 100%;
    p{

    }
    i{
      font-size: 20px;
      color: $secondColor;
    }
  }
  &-client{
    //border: 1px solid black;
    padding: 5px 0;
    background-color: $whiteColor;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    &-item{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin: 20px 10px;
      border-bottom: 1px solid black;
      label{
        //align-self: start;
        font-weight: bold;
      }
      p{
        margin: 0 0 0 auto;
      }
    }
  }
}
.hidden{
  display: none;
}

.formDetailsCommande{
  max-width: 90%;
  margin: 20px auto;
  .articleCommande{
    background-color: $whiteColor;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align: center;
    padding: 10px 0;
    &-item{
      margin: 0 5px;
    }
    &-item.prix >input{
      width: 30%;
      margin: 0 auto;
      text-align: center;
    }
    &-item.quantite{
      grid-area: 3 / 1 / 4 / 3;
      input{
        width: 30%;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
  .articleCommande:nth-child(2n){
    background: $firstLightColor;
  }
  .articleCommande.head{
    display: none;
  }

  .selectCommande{
    display: flex;
    flex-direction: column;
    select{
      background-color: #FDFDFD;
      padding: 10px;
      font-size: 1rem;
      border-radius: 5px;
      border: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin: 10px auto;
      width: 200px;
    }
    button{
      background-color: #004E0B;
      color: #E2F3CA;
      border: none;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      padding: 10px;
      font-size: 14px;
      margin: 10px auto;
      text-align: center;
      width: 100px;
    }
    button:hover{
      color:$secondColor;
    }
  }

}

.headerDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: $heightNavbar+20;
  max-width: 980px;
  &-commande,
  &-livraison,
  &-montant{
    background-color: $whiteColor;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    h4 {
      color: $secondColor;
    }
  }
}
@media screen and (max-width: 640px) {
  //.liste-article-item {
  //  display: block;
  //}
  .liste-article.head {
    display: none;
  }

}

@media screen and (min-width: 640px) {
  /*
  Historique commande
 */
  .headerCommande {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 50px;
    //padding: 10px 0;
    //background-color: $secondLightColor;

  }
  .commande {
    &-liste {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 0px;
      //width: 1200px;
      //height: auto;
      margin-bottom: 0;

      &-item {
        text-align: center;
        padding: 10px 0;
      }

      &-item.detail {
        grid-area: initial;
        text-align: center;
      }

      //&-item.detail{
      //  grid-area: initial;
      //  display: grid;
      //  grid-template-columns: 1fr;
      //  grid-template-rows: repeat(2, 1fr);
      //  grid-column-gap: 0px;
      //  grid-row-gap: 10px;
      //  text-align: center;
      //
      //}
    }

  }

  .headerDate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 100px auto 20px auto;
    text-align: center;
  }
}

  /*
   * Détail commande
   */

  .infos{
    text-align: center;
    max-width: 70%;
    margin: 0 auto;

  }
  .formDetailsCommande{
    max-width: 90%;

    .articleCommande{
      background-color: $whiteColor;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      text-align: center;
      padding: 10px 0;
      &-item.prix >input{
        width: 30%;
        margin: 0 auto;
        text-align: center;
      }
      &-item.quantite{
        grid-area: 1 / 5 / 2 / 6;
        input{
          width: 30%;
          margin: 0 auto;
          text-align: center;
        }
      }
    }
    .articleCommande.head{
      display: grid;
      border-bottom: 2px solid $secondColor;
    }

    .selectCommande{
      flex-direction: row;
      justify-content: center;
      select{
        margin: 10px ;
        width: 200px;
      }
      button{

        margin: 10px ;

      }
    }
  }


@media screen and (min-width: 840px) {
  //.commande-liste-item.detail{
  //  display: grid;
  //  grid-template-columns: repeat(2, 1fr);
  //  grid-template-rows: 1fr;
  //  grid-column-gap: 0px;
  //  grid-row-gap: 0px;
  //}


}
@media screen and (min-width: 1200px) {

  /*
* Détail commande
*/

  .infos{
    text-align: center;
    max-width: 50%;
    margin: 0 auto;

  }
}