.customFlashMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  z-index: 999;
}

.customFlashMessage > button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}
.flash-error{
  background-color:$altColor; /* rouge */
  color: $whiteColor; /* blanc */
  padding: 20px 0;
  position: absolute;
  top :0;
  font-size: 14px;
  text-align: center;
  width: 100vw;
  z-index: 20;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
.flash-success{
  background-color:$firstLightColor; /* rouge */
  color: $firstColor; /* blanc */
  padding: 20px 0;
  position: absolute;
  top :0;
  font-size: 14px;
  text-align: center;
  width: 100vw;
  z-index: 20;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
.flash-error>p , .flash-success>p{
  margin: 0;
}
.error{
  margin: 5px 0;
  color: $altColor;
}