.headerTitle {
  color: $secondColor;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  margin: 10px 0 20px 0;
}

.headerArticle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: sticky;
  top: 80px;
  padding-top: 15px;
  padding-bottom: 10px;

  z-index: 1;

  &-search {
    display: flex;
    align-items: center;

    &-form {
      display: flex;
      flex-direction: row;
      align-items: center;

      &-glass {
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        transition: left 0.3s ease-in-out, transform 0.3s ease-in-out;
      }

      &-glass>.fa-solid {
        font-size: 20px;
        background-color: $whiteColor;
        border-radius: 20px;
        padding: 10px;
        border: 1px solid $secondColor;
      }

      &-input {
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100vw);
      }
    }
  }

  &-layout {
    display: none;
  }
}

.infoStatut {
  display: flex;
  flex-direction: row;
  justify-content: center;
  &-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    &-case{
      width: 30px;
      height: 30px;
      border-radius: 10px;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

.form-control {

  background-color: #F6F6F6;
  border: none;
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
  font-size: 14px;
  color: #333;
  transition: 0.3s;
  text-align: center;
}

.form-control:focus {
  outline: none;
  background-color: #FDFDFD;
  box-shadow: 0 0 0 2px $secondColor;
}

.form-control::placeholder {
  text-align: center;
  color: #999;
  opacity: 1;
}

.rayon {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: $secondColor;
}

.article {
  max-width: 1200px;
  margin: 20px auto;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  &-liste {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    padding: 10px 5px;
    text-align: center;
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-item.image {
      display: none;
    }
    &-item.quantite {
      grid-area: 3 / 1 / 4 / 3;
      text-align: center;
      .buttonLess,
      .buttonMore {
        color: $whiteColor;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        font-size: 14px;
        font-weight: bold;
      }


      .buttonLess {
        background-color: $altColor;
      }
      .buttonMore {
        background-color: $firstColor;
      }

    }


    &-item.quantite>input {
      width: 20%;
      text-align: center;
      appearance: none;
      -moz-appearance: textfield;

      /* Chrome */
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Opéra*/
      &::-o-inner-spin-button {
        -o-appearance: none;
        margin: 0;
      }
    }
    &-item.quantite>input.Stock{
      border: 2px solid $firstColor;
    }

    &-item.quantite>input.Rupture{
      border: 2px solid $altColor;
    }

    &-aucun {
      text-align: center;
      font-size: 18px;
    }

  }
}

.liste-button {
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0;
  background-color: $whiteColor;
}

.liste-button>button {
  background-color: $firstColor;
  border-radius: 0 20px 0 20px;
  padding: 10px 20px;
  margin: 10px;
  display: inline-block;
  border: none;
  color: $firstLightColor;
  font-size: 18px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.liste-button>button:hover {
  cursor: pointer;
  border-radius: 0;
  background-color: $firstLightColor;
  color: $firstColor;
}

.article.bg {
  background: none;
  box-shadow: none;
}

.article-liste:nth-child(2n) {
  background: $whiteColor;
}

.article-liste:nth-child(2n+1) {
  background: #E2F3CA;
}

.article-liste.head {
  max-height: 100px;
  background: $whiteColor;
  border-bottom: 2px solid $secondColor;
  font-weight: bold;

  .article-liste-item p {
    margin: 0;
  }
}

.emptyPanier {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  font-size: 20px;
}

.Stock {
  border: 2px solid $firstColor;
}

.Rupture {
  border: 2px solid $altColor;
}

.list.Stock , .list.Rupture{
  border: none;
}

@media screen and (max-width: 640px) {

  .article-liste.Stock,.article-liste.Rupture{
    border: none;
  }
  .article-liste-item {
    display: block;
  }

  .article-liste-item.image {
    display: none;
  }
}


@media screen and (min-width: 640px) {
  .headerArticle {
    top: $heightNavbar;
    background-color: $whiteColor;

    &-search {

      &-form {

        &-input {
          transition: transform 0.3s ease-in-out;
          transform: translateX(-100vw);
        }

        &-glass {
          display: none;
        }

        &-input {
          //display: block;
          transform: translateX(0);
        }
      }
    }

    &-layout {
      display: flex;
      flex-direction: row;

    }
  }

  .article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: none;
    &-liste {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 200px;
      height: 300px;
      margin-bottom: 20px;
      box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 20px;
      transition: background-color 0.3s ease-in-out;
      &-item.image {
        display: block;
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        transition: transform 0.2s;
      }
      &-item.image>img {
        width: 100%;
        height: 100%;
      }
      &-item.quantite>input {
        width: 35%;
      }
    }

    &-liste:nth-child(2n) {
      background: #E2F3CA;
    }
    &-liste:nth-child(2n+1) {
      background: #E2F3CA;
    }
    &-liste:hover {
      background-color: $secondLightColor;
    }
    &-liste:hover &-liste-item.image {
      transform: scale(1.05);
    }
    &-article>div {
      margin-bottom: auto;
    }
    .article-liste.head {
      background: $whiteColor;

    }
  }

  .headerArticle-layout-grid,
  .headerArticle-layout-list {
    margin-left: 10px;
    margin-right: 10px;
  }

  .headerArticle-layout .fa-solid {
    font-size: 24px;
    text-align: center;
    color: $secondColor;
    padding: 5px;
    border-radius: 5px;
    background-color: $firstLightColor;
  }

  .headerArticle-layout .fa-solid:hover {
    cursor: pointer;
  }


  .list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    width: 1200px;
    height: auto;
    margin-bottom: 0;
    border-radius: initial;
    border: none;
  }



  .list:nth-child(2n) {
    background: #FDFDFD;
  }

  .list:nth-child(2n+1) {
    background: $firstLightColor;
  }

  .article-liste-item.quantite {
    grid-area: 1 / 5 / 2 / 6;
    text-align: center;
  }

  .select {
    border: 2px solid $secondColor;
    border-radius: 5px;
  }

  .article-liste-item.image.hide {
    display: none;
  }

}

.visible {
  transform: translateX(0);
  left: initial;
}

@media screen and (min-width: 840px) {

}

@media screen and (min-width: 1200px) {
  .headerArticle {
    width: 60%;
    border-radius: 20px;
    margin: 10px auto;
    transition: top 0.5s ease-in-out;
  }

  .headerArticle.changeTop {
    top: 0;
  }
}
