//Variable color

$firstColor: #004E0B;
$firstLightColor: #E2F3CA;
$secondColor: #F29F05;
$secondLightColor: #FFFAE2;
$altSecond:#F1BB13;
$altColor: #A62103;
$whiteColor: #FDFDFD;

// Variable dimension

$heightNavbarMobile : 50px ;
$heightNavbar : 80px ;