@import 'variables';
@import 'flashMessage';

@import 'adminNavbar';
//@import 'listeArticle';
//@import 'panier';
@import 'adminCommande';
@import 'adminArticle';
@import 'adminClient';
@import 'adminParametre';

html,
body {
  background-color: $secondLightColor;
  margin: 0;
  padding: 0;
  height: 100%;
}

//main {
//  max-width: 1440px;
//  margin-top: 50px;
//  margin-left: auto;
//  margin-right: auto;
//
//}

.templateListe {
  max-width: 100%;
  margin: 20px auto;
}

.liste {

  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 5%;
}


body {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-end;
}

main {
  width: 100%;
  margin-bottom: auto;
}

footer {
  width: 100%;
  background-color: $firstColor;
  color: $firstLightColor;
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}


.headerTitle {
  color: $secondColor;
  font-size: 24px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  margin: $heightNavbar 0 20px 0;
  //position: absolute;
  //top: 80px;
  //left: 50%;
  //transform: translateX(-50%);
}

.headerDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &-date,
  &-inscription {
    background-color: $whiteColor;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    h4 {
      color: $secondColor;
    }
  }

  //&-commande,
  //&-livraison,
  //&-inscription {
  //  display: inline-block;
  //  margin-top: 10px;
  //  margin-bottom: 15px;
  //  padding: 0 10px;
  //  background-color: $whiteColor;
  //  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
  //}

  //&-commande>h4,
  //&-livraison>h4,
  //&-inscription>h4 {
  //  font-size: 20px;
  //  color: $secondColor;
  //  margin: 10px 0;
  //}
  //
  //&-commande>p,
  //&-livraison>p,
  //&-inscription>p {
  //  margin: 10px 0;
  //}
}

@media screen and (min-width: 640px) {
  //.headerTitle {
  //
  //  margin: $heightNavbar+20px 0 20px 0;
  //}

  .headerDate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 70px auto 20px auto;
    text-align: center;
  }

  .templateListe {
    max-width: 90%;
  }

}