@import 'variables';
@import 'flashMessage';

@import 'adminNavbar';
//@import 'listeArticle';
//@import 'panier';
@import 'adminCommande';
@import 'adminArticle';
@import 'adminClient';
@import 'adminParametre';

html,
body {
  background-color: $secondLightColor;
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  //flex: 1;
  max-width: 1440px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

}

.templateListe {
  max-width: 90%;
  margin: 20px auto;
}

.liste {

  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 5%;
}

footer {
  background-color: #1b1e21;
  width: 100%;
  height: 100px;
}

.hide {
  display: none;
}

.show {
  display: block;
}