@charset "UTF-8";
.customFlashMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  z-index: 999;
}

.customFlashMessage > button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.flash-error {
  background-color: #A62103; /* rouge */
  color: #FDFDFD; /* blanc */
  padding: 20px 0;
  position: absolute;
  top: 0;
  font-size: 14px;
  text-align: center;
  width: 100vw;
  z-index: 20;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.flash-success {
  background-color: #E2F3CA; /* rouge */
  color: #004E0B; /* blanc */
  padding: 20px 0;
  position: absolute;
  top: 0;
  font-size: 14px;
  text-align: center;
  width: 100vw;
  z-index: 20;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.flash-error > p, .flash-success > p {
  margin: 0;
}

.error {
  margin: 5px 0;
  color: #A62103;
}

ul {
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:link {
  color: #E2F3CA;
}

a:visited {
  color: #E2F3CA;
}

a:hover {
  text-decoration: none;
  color: #F29F05;
}

.hide {
  display: none;
}

.adminNavbar {
  background-color: #004E0B;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.adminNavbar-function, .adminNavbar-info {
  display: flex;
  align-items: center;
}
.adminNavbar-function-list {
  margin: 0;
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 0;
  width: 100vw;
  background-color: #004E0B;
  text-align: center;
  opacity: 0;
  transform: translateY(-200%);
  transition: all 0.5s;
}
.adminNavbar-function-list.active {
  transform: translateY(0);
  opacity: 1;
}
.adminNavbar-function-list li {
  padding-top: 10px;
  padding-bottom: 10px;
}
.adminNavbar-function-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding-left: 20px;
}
.adminNavbar-function-burger:hover {
  cursor: pointer;
}
.adminNavbar-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.adminNavbar-info-list {
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  padding-right: 0;
  align-items: center;
}
.adminNavbar-info-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.adminNavbar-info-list-item-link i {
  position: relative;
  transform: scale(110%);
}
.adminNavbar-info-list-item-link i span {
  position: absolute;
  bottom: 45%;
  right: 55%;
  font-size: 12px;
  color: #F29F05;
  font-weight: bold;
}
.adminNavbar-info-list-item-dropdown {
  display: flex;
  align-items: center;
  color: #E2F3CA;
  margin: 0;
  font-weight: bold;
}
.adminNavbar-info-list-item-dropdown i {
  padding-left: 5px;
}
.adminNavbar-info-list-item-dropdown:hover {
  cursor: pointer;
}
.adminNavbar-info-list-item-dropdownContent {
  background-color: #004E0B;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 3;
  opacity: 0;
  text-align: center;
  transform: translateY(-200%);
  transition: all 0.5s;
  padding: 0;
}
.adminNavbar-info-list-item-dropdownContent > li {
  padding: 10px;
}
.adminNavbar-info-list-item-dropdownContent.active {
  opacity: 1;
  transform: translateY(0);
}
.adminNavbar-info-list-item .logout {
  background-color: #E2F3CA;
}
.adminNavbar-info-list-item .logout > a {
  color: #004E0B;
}
.adminNavbar-info-list-item .logout > a:hover {
  color: #A62103;
}
.adminNavbar .fa-solid {
  font-size: 24px;
  text-align: center;
  color: #E2F3CA;
  padding-right: 20px;
}

@media screen and (min-width: 640px) {
  .adminNavbar-function-list {
    position: static;
    opacity: 1;
    transform: translateY(0);
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }
  .adminNavbar-function-list-item {
    padding-right: 15px;
    padding-left: 15px;
  }
  .adminNavbar-function-burger {
    display: none;
  }
}
/*
  Commande
 */
.titleCommande {
  color: #F29F05;
  font-size: 24px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  margin: 0;
}

.formCommande {
  position: sticky;
  top: 50px;
  background-color: #FFFAE2;
  padding-top: 15px;
}

.headerCommande {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  background-color: #FFFAE2;
}
.headerCommande-date {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 5%;
}
.headerCommande-date input {
  background-color: #FDFDFD;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.headerCommande-date input:focus {
  outline: none;
}
.headerCommande-statut {
  text-align: center;
  margin: 5px 5%;
}
.headerCommande-statut select {
  background-color: #FDFDFD;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.headerCommande-statut select:focus {
  outline: none;
}

.liste-commande {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 5px 0;
}
.liste-commande-item {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.liste-commande-item.detail {
  grid-area: 3/1/4/3;
  text-align: center;
}
.liste-commande-item.action {
  grid-area: 3/1/4/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  text-align: center;
}
.liste-commande.head {
  background-color: #FDFDFD;
  font-weight: bold;
  max-height: 120px;
  border-bottom: 2px solid #F29F05;
}
.liste-commande.head-item p {
  margin: 0;
}

.emptyCommande {
  text-align: center;
  padding: 10px 0;
  background-color: #FDFDFD;
}

.liste-commande:nth-child(2n) {
  background: #E2F3CA;
}

.liste-commande:nth-child(2n+1) {
  background: #FDFDFD;
}

.liste-commande-item a > .fa-solid {
  font-size: 20px;
  text-align: center;
  color: #F29F05;
  padding-right: 20px;
}

/*
  Commande details
 */
.infos {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}
.infos-toggle {
  width: 100%;
}
.infos-toggle i {
  font-size: 20px;
  color: #F29F05;
}
.infos-client {
  padding: 5px 0;
  background-color: #FDFDFD;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.infos-client-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 10px;
  border-bottom: 1px solid black;
}
.infos-client-item label {
  font-weight: bold;
}
.infos-client-item p {
  margin: 0 0 0 auto;
}

.hidden {
  display: none;
}

.formDetailsCommande {
  max-width: 90%;
  margin: 20px auto;
}
.formDetailsCommande .articleCommande {
  background-color: #FDFDFD;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  text-align: center;
  padding: 10px 0;
}
.formDetailsCommande .articleCommande-item {
  margin: 0 5px;
}
.formDetailsCommande .articleCommande-item.prix > input {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}
.formDetailsCommande .articleCommande-item.quantite {
  grid-area: 3/1/4/3;
}
.formDetailsCommande .articleCommande-item.quantite input {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}
.formDetailsCommande .articleCommande:nth-child(2n) {
  background: #E2F3CA;
}
.formDetailsCommande .articleCommande.head {
  display: none;
}
.formDetailsCommande .selectCommande {
  display: flex;
  flex-direction: column;
}
.formDetailsCommande .selectCommande select {
  background-color: #FDFDFD;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  width: 200px;
}
.formDetailsCommande .selectCommande button {
  background-color: #004E0B;
  color: #E2F3CA;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-size: 14px;
  margin: 10px auto;
  text-align: center;
  width: 100px;
}
.formDetailsCommande .selectCommande button:hover {
  color: #F29F05;
}

@media screen and (max-width: 640px) {
  .liste-article.head {
    display: none;
  }
}
@media screen and (min-width: 640px) {
  .headerCommande {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 50px;
  }
  .liste-commande {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    margin-bottom: 0;
  }
  .liste-commande-item {
    text-align: center;
    padding: 10px 0;
  }
  .liste-commande-item.detail {
    grid-area: initial;
  }
  .liste-commande-item.action {
    grid-area: initial;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    text-align: center;
  }
  /*
   * Détail commande
   */
  .infos {
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
  }
  .formDetailsCommande {
    max-width: 90%;
  }
  .formDetailsCommande .articleCommande {
    background-color: #FDFDFD;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align: center;
    padding: 10px 0;
  }
  .formDetailsCommande .articleCommande-item.prix > input {
    width: 30%;
    margin: 0 auto;
    text-align: center;
  }
  .formDetailsCommande .articleCommande-item.quantite {
    grid-area: 1/5/2/6;
  }
  .formDetailsCommande .articleCommande-item.quantite input {
    width: 30%;
    margin: 0 auto;
    text-align: center;
  }
  .formDetailsCommande .articleCommande.head {
    display: grid;
    border-bottom: 2px solid #F29F05;
  }
  .formDetailsCommande .selectCommande {
    flex-direction: row;
    justify-content: center;
  }
  .formDetailsCommande .selectCommande select {
    margin: 10px;
    width: 200px;
  }
  .formDetailsCommande .selectCommande button {
    margin: 10px;
  }
}
@media screen and (min-width: 840px) {
  .liste-commande-item.action {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
@media screen and (min-width: 1200px) {
  /*
  * Détail commande
  */
  .infos {
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
  }
}
.headerArticleAdmin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 50px;
  background-color: #FFFAE2;
  padding-top: 15px;
}
.headerArticleAdmin-search {
  text-align: center;
}
.headerArticleAdmin-search-form-input > input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.headerArticleAdmin-search-form-input > input:focus {
  outline: none;
}
.headerArticleAdmin-search-form-checkbox {
  margin-top: 10px;
}
.headerArticleAdmin-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.headerArticleAdmin-add-link {
  position: relative;
  display: inline-block;
  color: #F29F05;
}
.headerArticleAdmin-add-link:link {
  color: #F29F05;
}
.headerArticleAdmin-add-link:visited {
  color: #F29F05;
}
.headerArticleAdmin-add-link:hover {
  color: #F29F05;
}
.headerArticleAdmin-add-link > i {
  font-size: 1.5em;
  margin-left: 20px;
  margin-right: 20px;
}

.liste-articleAdmin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  text-align: center;
  padding: 10px;
}
.liste-articleAdmin-item.etat {
  grid-area: 1/1/2/3;
}
.liste-articleAdmin-item-link > i {
  font-size: 1.2em;
}

a.liste-articleAdmin-item-link:link {
  color: #F29F05;
}

a.liste-articleAdmin-item-link:visited {
  color: #F29F05;
}

a.liste-articleAdmin-item-link:hover {
  color: #F29F05;
}

.liste-articleAdmin.head {
  font-weight: bold;
  max-height: 120px;
  border-bottom: 2px solid #F29F05;
}

.liste-articleAdmin:nth-child(2n) {
  background: #E2F3CA;
}

.liste-articleAdmin:nth-child(2n+1) {
  background: #FDFDFD;
}

/*
 * addArticle
 */
.formAddArticle {
  text-align: center;
  max-width: 90%;
  margin: 20px auto;
}
.formAddArticle .article {
  background-color: #FDFDFD;
  width: 100%;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.formAddArticle .article-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.formAddArticle .article-item > label {
  color: #F29F05;
  font-weight: bold;
}
.formAddArticle .article-item > input {
  background-color: #FDFDFD;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
}
.formAddArticle .article-item > select {
  background-color: #FDFDFD;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  width: 80%;
}
.formAddArticle .article-item > button {
  background-color: #004E0B;
  color: #E2F3CA;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.formAddArticle .article-item > button:hover {
  cursor: pointer;
  color: #F29F05;
}

.liste-article-aucun {
  text-align: center;
  padding: 10px 0;
  background-color: #FDFDFD;
}

@media screen and (min-width: 640px) {
  .liste-articleAdmin {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    height: auto;
    margin-bottom: 0;
  }
  .liste-articleAdmin-item.etat {
    grid-area: 1/1/3/2;
  }
  .liste-articleAdmin-item.edit {
    grid-area: 1/4/2/5;
  }
  .liste-articleAdmin-item.delete {
    grid-area: 2/4/3/5;
  }
  .formAddArticle {
    max-width: 70%;
  }
  .formAddArticle .article-item > input {
    width: 70%;
  }
  .formAddArticle .article-item > select {
    width: 70%;
  }
}
@media screen and (min-width: 840px) {
  .headerArticleAdmin-search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .headerArticleAdmin-search-form-input {
    margin: 10px;
  }
  .headerArticleAdmin-search-form-checkbox {
    margin: 10px;
    align-self: center;
  }
  .liste-articleAdmin {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: auto;
    margin-bottom: 0;
  }
  .liste-articleAdmin-item.etat {
    grid-area: initial;
  }
  .liste-articleAdmin-item.edit {
    grid-area: initial;
  }
  .liste-articleAdmin-item.delete {
    grid-area: initial;
  }
  .formAddArticle {
    max-width: 40%;
  }
  .formAddArticle .article-item > input {
    width: 80%;
  }
  .formAddArticle .article-item > select {
    width: 80%;
  }
}
.formClient {
  position: sticky;
  top: 50px;
  background-color: #FFFAE2;
  padding-top: 15px;
}
.formClient .headerClient {
  text-align: center;
}
.formClient .headerClient-search {
  margin-bottom: 10px;
}
.formClient .headerClient-search input {
  background-color: #FDFDFD;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.formClient .headerClient-search input:focus {
  outline: none;
}
.formClient .headerClient-statut {
  margin-bottom: 10px;
}
.formClient .headerClient-statut select {
  background-color: #FDFDFD;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.formClient .headerClient-statut select:focus {
  outline: none;
}

.liste-client {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  text-align: center;
  padding: 10px;
}
.liste-client-item {
  margin-top: auto;
  margin-bottom: auto;
}
.liste-client-item.action {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}
.liste-client-item.action .action-edit a > .fa-solid, .liste-client-item.action .action-delete a > .fa-solid {
  font-size: 20px;
}
.liste-client-item.action .action-edit a:link, .liste-client-item.action .action-delete a:link {
  color: #F29F05;
}
.liste-client-item.action .action-edit a:visited, .liste-client-item.action .action-delete a:visited {
  color: #F29F05;
}
.liste-client-item.action .action-edit a:hover, .liste-client-item.action .action-delete a:hover {
  color: #F29F05;
}

.liste-client-aucun {
  text-align: center;
  padding: 10px 0;
  background-color: #FDFDFD;
}

.liste-client.head {
  display: none;
}

.liste-client:nth-child(2n+1) {
  background: #FDFDFD;
}

.liste-client:nth-child(2n) {
  background: #E2F3CA;
}

.formAddClient {
  text-align: center;
  max-width: 90%;
  margin: 20px auto;
}
.formAddClient .client {
  background-color: #FDFDFD;
  width: 100%;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.formAddClient .client-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.formAddClient .client-item > label {
  color: #F29F05;
  font-weight: bold;
}
.formAddClient .client-item > input {
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
}
.formAddClient .client-item > select {
  background-color: #FDFDFD;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  width: 80%;
}
.formAddClient .client-item > button {
  background-color: #004E0B;
  color: #E2F3CA;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.formAddClient .client-item > button:hover {
  cursor: pointer;
  color: #F29F05;
}

@media screen and (min-width: 640px) {
  .liste-client {
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  .liste-client:nth-child(2n+1) {
    background: #E2F3CA;
  }
  .liste-client:nth-child(2n) {
    background: #E2F3CA;
  }
  .formAddClient {
    max-width: 70%;
  }
  .formAddClient .client-item > input {
    width: 70%;
  }
  .formAddClient .client-item > select {
    width: 70%;
  }
}
@media screen and (min-width: 840px) {
  .headerClient {
    display: flex;
    justify-content: center;
  }
  .headerClient-search, .headerClient-statut {
    margin: 10px;
  }
  .liste-client.head {
    display: grid;
    background-color: #FDFDFD;
    border-bottom: 2px solid #F29F05;
    font-weight: bold;
  }
  .liste-client {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    box-shadow: none;
    margin-bottom: 0;
  }
  .liste-client:nth-child(2n+1) {
    background: #FDFDFD;
  }
  .liste-client:nth-child(2n) {
    background: #E2F3CA;
  }
  .formAddClient {
    max-width: 40%;
  }
  .formAddClient .client-item > input {
    width: 80%;
  }
  .formAddClient .client-item > select {
    width: 80%;
  }
}
.formParamAdmin {
  text-align: center;
  max-width: 90%;
  margin: 20px auto;
}
.formParamAdmin .formulaire {
  background-color: #FDFDFD;
  width: 100%;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.formParamAdmin .formulaire-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.formParamAdmin .formulaire-item > label {
  color: #F29F05;
  font-weight: bold;
}
.formParamAdmin .formulaire-item > input {
  background-color: #FDFDFD;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
}
.formParamAdmin .formulaire-item > select {
  background-color: #FDFDFD;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  width: 80%;
}
.formParamAdmin .formulaire-item > button {
  background-color: #004E0B;
  color: #E2F3CA;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.formParamAdmin .formulaire-item > button:hover {
  cursor: pointer;
  color: #F29F05;
}

@media screen and (min-width: 640px) {
  .formParamAdmin {
    max-width: 80%;
  }
  .formParamAdmin .formulaire-item > input {
    width: 80%;
  }
  .formParamAdmin .formulaire-item > select {
    width: 80%;
  }
  .franco {
    max-width: 60%;
  }
}
@media screen and (min-width: 840px) {
  .formParamAdmin {
    max-width: 70%;
  }
  .franco {
    max-width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .formParamAdmin {
    max-width: 40%;
  }
  .franco {
    max-width: 20%;
  }
}
html,
body {
  background-color: #FFFAE2;
  margin: 0;
  padding: 0;
  height: 100%;
}

.templateListe {
  max-width: 100%;
  margin: 20px auto;
}

.liste {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 5%;
}

body {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-end;
}

main {
  width: 100%;
  margin-bottom: auto;
}

footer {
  width: 100%;
  background-color: #004E0B;
  color: #E2F3CA;
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.headerTitle {
  color: #F29F05;
  font-size: 24px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  margin: 80px 0 20px 0;
}

.headerDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 70px auto 20px auto;
}
.headerDate-date, .headerDate-inscription {
  background-color: #FDFDFD;
  width: 300px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.headerDate-date h4, .headerDate-inscription h4 {
  color: #F29F05;
}

@media screen and (min-width: 640px) {
  .headerDate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 70px auto 20px auto;
    text-align: center;
  }
  .templateListe {
    max-width: 90%;
  }
}/*# sourceMappingURL=adminStyles.css.map */