body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1,h2{
    font-family: 'Satisfy', cursive;
    text-align: center;
    color:#F29F05;
    margin-bottom: 3%;
}
main{
    margin:0 10%;
}
article{
    margin-top:5em;
}

a{
    text-decoration: none;
}
a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
    color: #F29F05;
}

.haut-contenu-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    min-height: 300px;
    max-height: 100%;
}
.navigation-liste, .contenu-navigation, .haut-navigation-liste{
    list-style-type: none;
}
.contenu-client-lien,.section-insciption-lien{
    text-align: center;
}
.contenu-client-lien a, .section-insciption-lien a{
    border: 1px solid black;
    border-radius: 20px;
    background-color: #F29F05;
    padding: 5px;

}
.contenu-client-lien a:link , .section-insciption-lien a:link{
    color: #F2F2F2;
}
.contenu-client-lien a:hover , .section-insciption-lien a:hover{
    background-color: #F2F2F2;
    color: #F29F05;
}
.contenu-client-lien a:visited , .section-insciption-lien a:visited{
    color: initial;
}

footer{
    background-color: #9BECA7;
    margin-top: 5%;
}
footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.contenu-adresse, .contenu-navigation, .contenu-reseau{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contenu-adresse p {
    margin: 0;
}
.contenu-navigation ul{
    padding: 0;
}

.button-submit{
    background-color: #F29F05;
    color: #F2F2F2;
    border-radius: 10px;
}
.button-submit:hover{
    background-color: #F2F2F2;
    color: #F29F05;
}
                /* page qui sommes nous*/
.section-insciption{
    margin-top: 10%;
}

.contenu-presentation-liste{

    flex: 1 0 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contenu-presentation-liste-image{
    width: 30%;
    margin: 1rem;
    display: flex;
    align-self: center;
}
contennu-presentation-liste-image-lien{
    width: 100%;
}

.contenu-presentation-liste-image-lien img{
    max-width: 100%;
}

                /*Page contact*/
.bannière-contact{
    display: flex;
    margin-bottom: 3em;
    justify-content: space-around;
    background-color: #F29F05;
    min-height: 100px;
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
    padding: 10px;
}

.bannière-contact-text{
    align-self: center;
    color : #F2F2F2
}
.bannière-contact-text-contenu{
    display: none;
}
.bannière-contact-img{
    width: 50px;
    height: 50px;
    align-self: center;
}
.bannière-contact-img img{
    max-width: 100%;
}

.section-formulaire, .section-insciption{

    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
}


@media screen AND (min-width:650px){
    /*header{*/
    /*    margin-bottom: 50px;*/
    /*}*/
    main{
        margin:0 20% 0 20%;
    }
    footer div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }
    .contenu-adresse, .contenu-navigation, .contenu-reseau{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contenu-presentation-liste-image{
        width: 150px;
    }
    .bannière-contact-text-contenu{
        display: block;
        max-width: 500px;
    }
    .bannière-contact-img{
        /*padding: 1em;*/
        width: 100px;
        height: 100px;

    }
}