body{
    margin: 0;
    background-color: #F2F2F2;
}
.haut-navigation{
    background-color: #9BECA7;
    /*position: fixed; !* Set the navbar to fixed position *!*/
    /*top: 0; !* Position the navbar at the top of the page *!*/
    /*left: 50%;*/
    width: 100%; /* Full width */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}
.haut-navigation-liste{
    /*background-color: #9BECA7;*/
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0;
    font-size: 18px;

}
.haut-navigation-liste li{
    padding: 5px 0 5px 0;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;

}

@media screen AND (min-width:450px){

}
@media screen AND (min-width:650px){
    .haut-navigation {
        background-color: #9BECA7;
        border-radius: 0 0 10px 10px;
    }
    .haut-navigation div{
        display: none;
    }
    .haut-navigation-liste{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }
}
@media screen AND (min-width:850px){}
@media screen AND (min-width:1050px){}