@import 'variables';
@import 'flashMessage';

@import 'navbar';
@import 'headPage';
@import 'formulaire';
@import 'home';
@import 'calendrier';
@import 'recettes';
@import 'client';
@import 'listeArticle';
@import 'panier';
@import 'commandes';


html,
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-end;
}

main {
    width: 100%;
    background-color: $whiteColor;
    margin-bottom: auto;
}

footer {
    width: 100%;
}