@charset "UTF-8";
.customFlashMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  z-index: 999;
}

.customFlashMessage > button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.hide {
  display: none;
}

.headerNavbar-function-list-item-link {
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  color: #FFFAE2;
}

.headerNavbar-function-list-item-link:link {
  text-decoration: none;
  font-weight: bold;
}

.headerNavbar-function-list-item-link:visited {
  color: #FFFAE2;
}

.headerNavbar-function-list-item-link:hover {
  border-bottom: 2px solid #FFFAE2;
  padding: 5px;
}

.footerNavbar-info-navigation-liste-item-link {
  text-decoration: none;
  font-weight: bold;
  color: #0F0F0F;
}

.footerNavbar-info-navigation-liste-item-link:link {
  text-decoration: none;
  font-weight: bold;
}

.footerNavbar-info-navigation-liste-item-link:visited {
  color: #0F0F0F;
}

.footerNavbar-info-navigation-liste-item-link:hover {
  color: #FFFAE2;
}

.headerNavbar {
  background-color: #F1BB13;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.headerNavbar-img {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100px;
  z-index: 2;
}
.headerNavbar-img-link > img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.headerNavbar-img-link > img:hover {
  transform: scale(1.1);
}
.headerNavbar-function, .headerNavbar-info {
  display: flex;
  align-items: center;
}
.headerNavbar-function-list {
  margin: 0;
  position: absolute;
  z-index: 1;
  padding: 30% 0 0 0;
  top: 50px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #F1BB13;
  text-align: center;
  opacity: 0;
  transform: translateX(-200%);
  transition: all 0.5s;
  font-size: 24px;
}
.headerNavbar-function-list.active {
  transform: translateX(0);
  opacity: 1;
}
.headerNavbar-function-list-item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: black;
}
.headerNavbar-function-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-left: 20px;
}
.headerNavbar-function-burger:hover {
  cursor: pointer;
}
.headerNavbar-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerNavbar-info-list {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  padding-right: 0;
  align-items: center;
}
.headerNavbar-info-list-item-link i {
  position: relative;
  transform: scale(110%);
}
.headerNavbar-info-list-item-link i span {
  position: absolute;
  bottom: 45%;
  right: 55%;
  font-size: 12px;
  color: #F29F05;
  font-weight: bold;
}
.headerNavbar-info-list-item-dropdown {
  display: flex;
  align-items: center;
  color: #E2F3CA;
  margin: 0;
  font-weight: bold;
}
.headerNavbar-info-list-item-dropdown i {
  padding-left: 5px;
}
.headerNavbar-info-list-item-dropdown:hover {
  cursor: pointer;
}
.headerNavbar-info-list-item-dropdownContent {
  background-color: #F1BB13;
  position: absolute;
  right: 0;
  padding: 0;
  top: 50px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  opacity: 0;
  text-align: center;
  transform: translateX(200%);
  transition: all 0.5s;
  padding-top: 50px;
  font-size: 24px;
}
.headerNavbar-info-list-item-dropdownContent > li {
  padding: 10px;
}
.headerNavbar-info-list-item-dropdownContent.active {
  opacity: 1;
  transform: translateX(0);
}
.headerNavbar-info-list-item .logout {
  background-color: #E2F3CA;
}
.headerNavbar-info-list-item .logout > a {
  color: #004E0B;
}
.headerNavbar-info-list-item .logout > a:hover {
  color: #A62103;
}
.headerNavbar .fa-solid {
  font-size: 20px;
  text-align: center;
  color: #E2F3CA;
  padding-right: 10px;
}

.footerNavbar {
  background-color: #F1BB13;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}
.footerNavbar h3 {
  color: #A62103;
}
.footerNavbar-info {
  color: #0F0F0F;
}
.footerNavbar-info-navigation-liste {
  padding: 0;
}
.footerNavbar-info-navigation-liste-item {
  padding: 5px 0;
}
.footerNavbar-info-reseau-lien i {
  font-size: 24px;
}

@media screen and (min-width: 640px) {
  .headerNavbar {
    height: 80px;
    display: flex;
    justify-content: normal;
  }
  .headerNavbar-img {
    position: static;
    max-width: 80px;
    transform: none;
    margin-left: 20px;
  }
  .headerNavbar-function {
    order: 1;
    margin-right: 20px;
  }
  .headerNavbar-function-list {
    position: static;
    opacity: 1;
    transform: translateY(0);
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    font-size: 18px;
  }
  .headerNavbar-function-list-item {
    padding-right: 15px;
    padding-left: 15px;
  }
  .headerNavbar-function-burger {
    display: none;
  }
  .headerNavbar-info {
    order: 2;
    margin-left: auto;
  }
  .footerNavbar-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .headerNavbar {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 0 0 20px 20px;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out; /* ajout d'une transition sur la propriété transform */
    transform: translateY(0); /* position initiale */
  }
  .headerNavbar-info {
    margin-left: 0;
  }
  .headerNavbar.hide {
    transform: translateY(-100%); /* masque le navbar quand il y a une largeur d'écran de 1200px */
  }
  .footerNavbar-info {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
.presentation-texte, .valeurs, .mission-article, .client-article, .inscription-client {
  width: 90%;
  margin: 3% auto;
}

h3 {
  color: #F29F05;
}

.headContent {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(http://localhost/TerrAnanas/public/images/home.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.headContent-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #F29F05;
  padding: 20px;
  background-color: #ffffff; /* Couleur d'arrière-plan blanche */
  border: 2px solid #FDB813; /* Bordure noire de 10px */
}

.presentation {
  text-align: center;
  background-color: #E2F3CA;
  padding: 10px 0;
  margin-bottom: 20px;
}
.presentation p, .presentation h3 {
  margin-top: 0;
}

.valeurs-article {
  text-align: center;
  margin-bottom: 20px;
}
.valeurs-article-texte > h3 {
  margin-top: 0;
}
.valeurs-article-image {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.valeurs-article-image > img {
  width: 100%;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
}

.mission-article {
  text-align: center;
}

.client {
  background-color: #E2F3CA;
  padding: 10px 0;
}
.client-article {
  text-align: center;
}

.listeClient-image {
  max-width: 200px;
  margin: 10px auto;
}
.listeClient-image > img {
  width: 100%;
}

.inscription-client {
  text-align: center;
}
.inscription-client-lien-link {
  background-color: #004E0B;
  border-radius: 0 20px 0 20px;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  color: #E2F3CA;
  font-size: 18px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}
.inscription-client-lien-link:visited {
  color: #E2F3CA;
}
.inscription-client-lien-link:hover {
  border-radius: 0;
  background-color: #E2F3CA;
  color: #004E0B;
}

@media screen and (min-width: 640px) {
  .presentation {
    padding: 20px 0;
    margin-bottom: 20px;
  }
  .presentation p {
    margin-top: 0;
  }
  .valeurs-article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
  }
  .valeurs-article .valeurs-article-image {
    grid-area: 1/1/2/2;
    margin-left: 0;
    height: auto;
  }
  .valeurs-article .valeurs-article-texte {
    grid-area: 1/2/2/3;
    text-align: left;
  }
  .valeurs-article:nth-child(2n) {
    grid-template-columns: 2fr 1fr;
  }
  .valeurs-article:nth-child(2n) .valeurs-article-image {
    grid-area: 1/2/2/3;
    margin-right: 0;
    margin-left: auto;
    height: auto;
  }
  .valeurs-article:nth-child(2n) .valeurs-article-texte {
    grid-area: 1/1/2/2;
  }
  .valeurs-article-image {
    max-width: 300px;
  }
  .listeClient {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .listeClient-image {
    max-width: 200px;
    margin: auto auto;
  }
  .listeClient-image > img {
    width: 100%;
  }
}
@media screen and (min-width: 840px) {
  .presentation-texte, .valeurs, .mission-article, .client-article, .inscription-client {
    width: 80%;
    font-size: 1.1em;
  }
  .valeurs-article-image {
    max-width: none;
  }
  .listeClient {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
  }
  .listeClient-image {
    max-width: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .presentation-texte, .valeurs, .mission-article, .client-article, .inscription-client {
    width: 70%;
    font-size: 1.2em;
  }
  .valeurs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10%;
    grid-row-gap: 5%;
  }
  .valeurs .valeurs-article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }
  .valeurs .valeurs-article .valeurs-article-image {
    grid-area: 1/1/2/2;
    text-align: center;
    margin: auto;
  }
  .valeurs .valeurs-article .valeurs-article-texte {
    grid-area: 2/1/3/2;
    text-align: center;
  }
  .valeurs-article:nth-child(2n) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .valeurs-article:nth-child(2n) .valeurs-article-image {
    grid-area: 1/1/2/2;
    margin: auto;
    text-align: center;
  }
  .valeurs-article:nth-child(2n) .valeurs-article-texte {
    grid-area: 2/1/3/2;
    text-align: center;
  }
}
section.calendrier {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

section.calendrier > div {
  margin: 10px;
}

#search {
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  border-radius: 0 20px 0 20px;
  border: none;
  text-align: center;
  background-color: #004E0B;
  color: #E2F3CA;
  transition: 0.5s;
}

#search:focus {
  border-radius: 0;
  background-color: #E2F3CA;
  color: #004E0B;
  border: none;
  outline: none;
}

.listeMonth {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.month {
  padding: 10px;
  font-size: 14px;
  background-color: #E2F3CA;
  color: #004E0B;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.month:hover {
  background-color: #004E0B;
  color: #E2F3CA;
}

.buttonReset {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: #A62103;
  color: #FDFDFD;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

#result {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#result div {
  margin: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  font-size: 16px;
}

#result button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.month.border {
  background-color: #F29F05;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=styles.css.map */