@import 'variables';
@import 'flashMessage';


@import 'navbar';
@import 'headPage';
@import 'formulaire';
@import 'home';
@import 'calendrier';
@import 'recettes';

//@import 'listeArticle';
//@import 'panier';
//@import 'commande';


//font-family: Spiegel, "Arial Narrow", Arial, sans-serif;


html,
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
}